<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Shopgate Ship-from-Store</label>
    <label lang="de">Shopgate Ship-from-Store</label>
    
    <version>1.0.0</version>
    <copyright>(c) by Shopgate GmbH</copyright>
    <link>https://shopgate.com</link>
    <author>Shopgate GmbH</author>
    <license>proprietary</license>
    <compatibility minVersion="5.7.0"/>

    <changelog version="1.0.0">
        <changes>
                <![CDATA[
                    First release
                ]]>
        </changes>
        <changes lang="de">
                <![CDATA[
                    Erste Veröffentlichung
                ]]>
        </changes>
    </changelog>

</plugin>