<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Shopgate Ship-from-Store</label>
    <label lang="de">Shopgate Ship-from-Store</label>

    <version>1.4.5-beta.2</version>
    <copyright>(c) by Shopgate GmbH</copyright>
    <link>https://shopgate.com</link>
    <author>Shopgate GmbH</author>
    <license>proprietary</license>
    <compatibility minVersion="5.7.0"/>

    <changelog version="1.0.0">
        <changes lang="de">
            Erstveröffentlichung
        </changes>
        <changes>
            Initial release
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            - Bestellpositionen werden ebenfalls aktualisiert
            - Inventory Import wird mehrfach durchlaufen, wenn das Limit im Ergebnis erreicht ist
        </changes>
        <changes>
            - Order positions will be updated on order update
            - Inventory import now considers reached limit
        </changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">
            - Lagerbestände werden stapelweise aktualisiert
        </changes>
        <changes>
            - Stocks will be updated in batches
        </changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">
            - Lagerbestände werden nun per SQL-Query aktualisiert
        </changes>
        <changes>
            - Stocks will be updated via SQL query
        </changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="de">
            - Bugfix: Shop ID des Kunden wurde nicht gelesen
        </changes>
        <changes>
            - Bugfix: Shop id of customer was missing
        </changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">
            - SQL Queries beim Import der Lagerbestände optimiert
            - Streichpreise werden beim Bestellexport mit übergeben
        </changes>
        <changes>
            - Optimized SQL queries for stock import
            - add sale price to order export
        </changes>
    </changelog>

    <changelog version="1.3.0">
        <changes lang="de">
            - Performance des Lagerbestandsimports verbessert
        </changes>
        <changes>
            - Optimized performance of inventory import
        </changes>
    </changelog>

    <changelog version="1.4.0">
        <changes lang="de">
            - Versendete Menge der Bestellpositionen wird mit Shopgate abgeglichen
            - Zeitzone gefixt
        </changes>
        <changes>
            - Shipped amount of order line items will be synced with Shopgate
            - Fixed timezone
        </changes>
    </changelog>

    <changelog version="1.4.1">
        <changes lang="de">
            - Versand-Menge der Positionen wird nur noch gesetzt, wenn die Bestellung nicht storniert ist
        </changes>
        <changes>
            - Only set shipped amount of line items of order is not canceled
        </changes>
    </changelog>

    <changelog version="1.4.2">
        <changes lang="de">
            - Versand-Menge der Positionen wird nur noch gesetzt, wenn Bestellung und Position nicht storniert sind
        </changes>
        <changes>
            - Only set shipped amount of line items of order and line item are not canceled
        </changes>
    </changelog>

    <changelog version="1.4.3">
        <changes lang="de">
            - Versand-Menge der Positionen wird nur noch gesetzt, wenn Position sich im Status "fulfilled" befindet
        </changes>
        <changes>
            - Only set shipped amount of line items if line item is in state "fulfilled"
        </changes>
    </changelog>

    <changelog version="1.4.4">
        <changes lang="de">
            - Der Name der Bezahlart wird an die Kundennotiz angehangen.
        </changes>
        <changes>
            - Payment name will be added to customer note.
        </changes>
    </changelog>

    <description lang="de">Das Shopgate Ship-from-Store-Plugin ermöglicht die Synchronisierung von Bestellungen und den Import des kumulierten Lagerbestands von Shopgate.</description>
    <description>The Shopgate Ship-from-Store plugin enables order sync and importing the cumulated inventory from Shopgate.</description>
</plugin>
