<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>

        <!-- General settings -->
        <element type="button">
            <name>buttonGeneral</name>
            <label lang="de">&#60;b&#62;Grundeinstellungen&#60;/b&#62;</label>
            <label lang="en">&#60;b&#62;General settings&#60;/b&#62;</label>
        </element>

        <!-- productCode -->
        <element type="select">
            <name>productCode</name>
            <label lang="de">Produkt Code</label>
            <label lang="en">Product code</label>
            <value>sku</value>
            <store>
                <option>
                    <value>sku</value>
                    <label lang="de">Artikelnummer</label>
                    <label lang="en">article number</label>
                </option>
                <option>
                    <value>ean</value>
                    <label lang="de">EAN</label>
                    <label lang="en">EAN</label>
                </option>
            </store>
        </element>

        <!-- stockUpdateInterval -->
        <element type="number">
            <name>stockUpdateInterval</name>
            <label lang="de">Bestandsupdates der letzten X Minuten importieren</label>
            <label lang="en">Update stock updates of last X minutes</label>
            <value>15</value>
        </element>

        <!-- errorMailAddresses -->
        <element type="text" scope="shop">
            <name>errorMailAddresses</name>
            <label lang="de">Fehler Mail-Adressen</label>
            <label lang="en">Error mail addresses</label>
            <description lang="de">Hier können mehrere E-Mail-Adressen kommagetrennt hinterlegt werden, an die Fehlermeldungen gesendet werden sollen.</description>
            <description lang="en">Provide one or more mail addresses (separated by comma) to send error reports to.</description>
        </element>

        <!-- env -->
        <element type="select">
            <name>env</name>
            <label lang="de">Umgebung</label>
            <label lang="en">Environment</label>
            <value></value>
            <store>
                <option>
                    <value>staging</value>
                    <label lang="de">Staging</label>
                    <label lang="en">Staging</label>
                </option>
                <option>
                    <value>production</value>
                    <label lang="de">Production</label>
                    <label lang="en">Production</label>
                </option>
            </store>
        </element>

        <!-- Production API -->
        <element type="button">
            <name>buttonProductionApi</name>
            <label lang="de">&#60;b&#62;Production API&#60;/b&#62;</label>
            <label lang="en">&#60;b&#62;Production API&#60;/b&#62;</label>
        </element>

        <!-- merchantCodeProd -->
        <element type="text" scope="shop">
            <name>merchantCodeProd</name>
            <label lang="de">Merchant Code</label>
            <label lang="en">Merchant Code</label>
        </element>

        <!-- shopCodeProd -->
        <element type="text" scope="shop">
            <name>shopCodeProd</name>
            <label lang="de">Shop Code</label>
            <label lang="en">Shop Code</label>
        </element>

        <!-- usernameProd -->
        <element type="text" scope="shop">
            <name>usernameProd</name>
            <label lang="de">Nutzer</label>
            <label lang="en">User</label>
        </element>

        <!-- passwordProd -->
        <element type="password" scope="shop">
            <name>passwordProd</name>
            <label lang="de">Passwort</label>
            <label lang="en">Password</label>
        </element>

        <!-- clientIdProd -->
        <element type="text" scope="shop">
            <name>clientIdProd</name>
            <label lang="de">Client ID</label>
            <label lang="en">Client ID</label>
        </element>

        <!-- clientSecretProd -->
        <element type="password" scope="shop">
            <name>clientSecretProd</name>
            <label lang="de">Client Secret</label>
            <label lang="en">Client Secret</label>
        </element>

        <!-- Dev API -->
        <element type="button">
            <name>buttonDevApi</name>
            <label lang="de">&#60;b&#62;Development API&#60;/b&#62;</label>
            <label lang="en">&#60;b&#62;Development API&#60;/b&#62;</label>
        </element>

        <!-- merchantCodeDev -->
        <element type="text" scope="shop">
            <name>merchantCodeDev</name>
            <label lang="de">Merchant Code</label>
            <label lang="en">Merchant Code</label>
        </element>

        <!-- shopCodeDev -->
        <element type="text" scope="shop">
            <name>shopCodeDev</name>
            <label lang="de">Shop Code</label>
            <label lang="en">Shop Code</label>
        </element>

        <!-- usernameDev -->
        <element type="text" scope="shop">
            <name>usernameDev</name>
            <label lang="de">Nutzer</label>
            <label lang="en">User</label>
        </element>

        <!-- passwordDev -->
        <element type="password" scope="shop">
            <name>passwordDev</name>
            <label lang="de">Passwort</label>
            <label lang="en">Password</label>
        </element>

        <!-- clientIdDev -->
        <element type="text" scope="shop">
            <name>clientIdDev</name>
            <label lang="de">Client ID</label>
            <label lang="en">Client ID</label>
        </element>

        <!-- clientSecretDev -->
        <element type="password" scope="shop">
            <name>clientSecretDev</name>
            <label lang="de">Client Secret</label>
            <label lang="en">Client Secret</label>
        </element>

        <!-- Status -->
        <element type="button">
            <name>buttonStatus</name>
            <label lang="de">&#60;b&#62;Status-Einstellungen&#60;/b&#62;</label>
            <label lang="en">&#60;b&#62;Status settings&#60;/b&#62;</label>
        </element>

        <!-- paymentStatusId -->
        <element type="combo" scope="shop">
            <name>paymentStatusId</name>
            <label lang="de">Zahlungsstatus</label>
            <label lang="en">Payment status</label>
            <description lang="de">Nur Bestellungen mit diesem Zahlungsstatus werden übertragen.</description>
            <description lang="en">Only orders with this payment status will be transferred.</description>
            <store>Shopware.apps.Base.store.PaymentStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- newStatus -->
        <element type="combo">
            <name>newStatus</name>
            <label lang="de">Bestellstatus "neu"</label>
            <label lang="en">Order status "new"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- openStatus -->
        <element type="combo">
            <name>openStatus</name>
            <label lang="de">Bestellstatus "offen"</label>
            <label lang="en">Order status "open"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- rejectedStatus -->
        <element type="combo">
            <name>rejectedStatus</name>
            <label lang="de">Bestellstatus "Abgelehnt"</label>
            <label lang="en">Order status "rejected"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- canceledStatus -->
        <element type="combo">
            <name>canceledStatus</name>
            <label lang="de">Bestellstatus "Abgebrochen"</label>
            <label lang="en">Order status "canceled"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- readyStatus -->
        <element type="combo">
            <name>readyStatus</name>
            <label lang="de">Bestellstatus "bereit"</label>
            <label lang="en">Order status "ready"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- fulfilledStatus -->
        <element type="combo">
            <name>fulfilledStatus</name>
            <label lang="de">Bestellstatus "erfüllt"</label>
            <label lang="en">Order status "fulfilled"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- completedStatus -->
        <element type="combo">
            <name>completedStatus</name>
            <label lang="de">Bestellstatus "komplett abgeschlossen"</label>
            <label lang="en">Order status "completed"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- inProgressStatus -->
        <element type="combo">
            <name>inProgressStatus</name>
            <label lang="de">Bestellstatus "in Bearbeitung"</label>
            <label lang="en">Order status "in progress"</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <multiSelect>false</multiSelect>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <isCustomStore>true</isCustomStore>
            </options>
        </element>

        <!-- URLs -->
        <element type="button">
            <name>buttonUrls</name>
            <label lang="de">&#60;b&#62;URLs&#60;/b&#62;</label>
            <label lang="en">&#60;b&#62;URLs&#60;/b&#62;</label>
        </element>

        <!-- orderStatusUrl -->
        <element type="text" scope="shop">
            <name>orderStatusUrl</name>
            <label lang="de">Bestellstatus-Updates</label>
            <label lang="en">order status updates</label>
            <options>
                <disabled>true</disabled>
            </options>
        </element>

        <!-- deliveryConfirmationUrl -->
        <element type="text" scope="shop">
            <name>deliveryConfirmationUrl</name>
            <label lang="de">Versandmeldungen</label>
            <label lang="en">Delivery confirmations</label>
            <options>
                <disabled>true</disabled>
            </options>
        </element>

        <!-- returnMailUrl -->
        <element type="text" scope="shop">
            <name>returnMailUrl</name>
            <label lang="de">Retouren-Mail</label>
            <label lang="en">Return e-mail</label>
            <options>
                <disabled>true</disabled>
            </options>
        </element>

        <!-- returnConfirmationUrl -->
        <element type="text" scope="shop">
            <name>returnConfirmationUrl</name>
            <label lang="de">Retouren-Eingang</label>
            <label lang="en">Return confirmation</label>
            <options>
                <disabled>true</disabled>
            </options>
        </element>

    </elements>
</config>