<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Shopgate Ship-from-Store</label>
    <label lang="de">Shopgate Ship-from-Store</label>

    <version>1.4.6-alpha.1</version>
    <copyright>(c) by Shopgate GmbH</copyright>
    <link>https://shopgate.com</link>
    <author>Shopgate GmbH</author>
    <license>proprietary</license>
    <compatibility minVersion="5.7.0"/>

    <changelog version="1.4.6-alpha.x">
        <changes lang="en">
            - provide ZIP archives that can be uploaded and installed using the Shopware 5 plugin manager
        </changes>
    </changelog>

    <description lang="de">Das Shopgate Ship-from-Store-Plugin ermöglicht die Synchronisierung von Bestellungen und den Import des kumulierten Lagerbestands von Shopgate.</description>
    <description>The Shopgate Ship-from-Store plugin enables order sync and importing the cumulated inventory from Shopgate.</description>
</plugin>
